body {
    background: #798A84;
}

.search-area {
    margin-top: 50px;
}

.search-box {
    background: #70A595;
    border-radius: 3px;
    padding: 10px;
    margin: 0 auto;
}

.search-field {
    background: #fff;
    border: none;
    border-radius: 3px !important;
    padding: 27px 10px !important;
    font-size: 20px !important;
    color: #798A84;
    margin: 0 !important;
}

.go-button {
    background: #D08D1F !important;
    font-weight: bold !important;
    border-radius: 3px;
    padding: 27px;
    margin: 0 auto;
    font-size: 20px;
    width: 100% !important;
}

.go-button-column {
    padding-right: 0;
}

.search_found_user_area {
    margin-top: 10px;
    background: #8EA5AD;
    padding: 27px !important;
    border-radius: 3px !important;
}

.profile-picture {
    overflow: hidden;
    border-radius: 3px;
    background-color: #fff;
    width: 100%;
}

.profile-name {
    color: inherit;
    font-weight: bold;
    font-size: 40px;
    line-height: 128px;
    text-decoration: underline;
}

.interest {
    padding: 10px;
    background: #D08D1F;
    margin: 14px 14px 0 14px;
    height: 58px;
    font-size: 25px;
    border-radius: 3px;
}

.interest .name {
    font-weight: bold;
}

.interest.dislike {
    background: #e05a24;
}
