body {
    background: #0E2430;
}

.message {
    color: #fff;
}

.search-bar {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.app-title {
    margin-bottom: 0 !important;
    font-size: 60px;
    text-shadow: 1px 1px 0 #fff;
    color: #99173C;
    font-weight: bold;
}

.app-description {
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
}

.search-box {
    background: #E8D5B9;
    border-radius: 3px;
    padding: 10px;
    margin: 0 auto;
}

.search-field {
    font-size: 30px !important;
    background: #fff;
    border: none;
    border-radius: 3px !important;
    padding: 27px 10px !important;
    color: #DCE9BE;
    margin: 0 !important;
}

.go-button {
    background: #99173C !important;
    font-weight: bold !important;
    border-radius: 3px;
    padding: 24px;
    margin: 0 auto;
    font-size: 24px;
    width: 100% !important;
}

.go-button-column {
    padding-right: 0;
}

.search_found_user_area {
    margin-top: 10px;
    margin-bottom: 30px;
    background: #E8D5B7;
    padding: 27px !important;
    border-radius: 3px !important;
}

.profile-picture {
    overflow: hidden;
    border-radius: 3px;
    background-color: #fff;
    width: 100%;
    border: 2px solid #333;
    margin-bottom: 10px;
}

.profile-name {
    color: inherit;
    font-weight: bold;
    font-size: 40px;
    line-height: 120px;
    text-decoration: underline;
}

.interest {
    padding: 5px;
    background: #fae6c7;
    margin: 4px 14px 0 14px !important;
    height: 30px;
    font-size: 14px;
    /* border-radius: 3px; */
}

.interest-title {
    color: #99173C;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px !important;
}

.interest .name {
    font-weight: bold;
}

.interest.dislike {
    background: #d5c3a9;
}

